# Lab Assignment No 2 - Sanam
#### 200019305
#### https://github.com/sanamak1/Assignment_2

Task 1: Create an If...Else statement that will test whether a number is divisible by three. "YOUR
VALUE is divisible by 3" should be printed if the value is divisible by three. "YOUR VALUE is not
divisible by three" should be printed if it is not divisible by three. Test the statement on a numeric
variable. Upper case text in the print statement should be replaced with the tested number.

In [15]:
if x%3 == 0:
    print(x, 'is divisible by 3')
else:
    print(x, 'is not divisble by 3')
    
x=9

9 is divisible by 3

T2: Create an If...Else statement that will test whether a type of fruit, represented as a text string,
is in a list of acceptable fruits (apple, orange, pear, kiwi, or strawberry). If the fruit is on the list, the
following should be printed: "YOUR FRUIT is acceptable." If not, then the following should be
printed: "YOUR FRUIT is not acceptable." Upper case text in the print statement should be replaced
with the tested fruit.

In [6]:
FruitList = ["apple", "orange", "pear", "kiwi", "strawberry"]
x = "lemon"
if x in FruitList:
    print(x, 'is acceptable')
else:
    print(x, 'is not acceptable')

lemon is not acceptable

T3: Create a function to calculate the distance between two coordinates using the haversine
formula. Write the following formula where the input parameters are a pair of coordinates as two
lists.

a = sin²(φB - φA/2) + cos φA * cos φB * sin²(λB - λA/2)
c = 2 * atan2( √a, √(1−a) )
d = R ⋅ c

In [3]:
from math import radians, cos, sin, asin, sqrt

def haversine(lat1, lon1, lat2, lon2):

      R = 6371 

      dLat = radians(lat2 - lat1)
      dLon = radians(lon2 - lon1)
      lat1 = radians(lat1)
      lat2 = radians(lat2)

      a = sin(dLat/2)**2 + cos(lat1)*cos(lat2)*sin(dLon/2)**2
      c = 2*asin(sqrt(a))

      return R * c

lon1 = -2.8
lat1 = 56.3
lon2 = -3.5
lat2 = 56.4

print(haversine(lat1, lon1, lat2, lon2))

44.54067182131459

## Numpy and Pandas

In [4]:
import pandas as pd
import numpy as np

In [6]:
#with this command I read the datafile
df = pd.read_csv('Assignment 2 Data/portland_park_trees.csv')

Question 1: How many trees are of the Quercus or Acer genus?

In [7]:
df

,fid,OBJECTID,Inventory_,Species,DBH,Condition,TreeHeight,CrownWidth,CrownWid_1,CollectedB,...,Genus,Common_nam,Genus_spec,Functional,Size,Native,Edible,Nuisance,Origin,Species_fa
0,1,426,2017/05/09,PSME,37.4,Fair,105.0,44.0,57.0,staff,...,Pseudotsuga,Douglas-fir,Pseudotsuga menziesii,CE,L,Yes,NaN,NaN,North America - from British Columbia south to...,Bracts on cones look like a mouse's feet and t...
1,2,427,2017/05/09,PSME,32.5,Fair,94.0,49.0,45.0,staff,...,Pseudotsuga,Douglas-fir,Pseudotsuga menziesii,CE,L,Yes,NaN,NaN,North America - from British Columbia south to...,Bracts on cones look like a mouse's feet and t...
2,3,428,2017/05/09,CRLA,9.7,Fair,23.0,28.0,27.0,staff,...,Crataegus,Lavalle hawthorn,Crataegus x lavalleei,BD,S,No,NaN,NaN,North America - a hybrid between a Mexican and...,"Like most hawthorns, the tree has stout thorns..."
3,4,429,2017/05/09,QURU,10.3,Poor,28.0,38.0,31.0,staff,...,Quercus,northern red oak,Quercus rubra,BD,L,No,NaN,NaN,North America - eastern Canada and eastern USA...,Acorns take two years to mature and are an imp...
4,5,430,2017/05/09,PSME,33.2,Fair,102.0,43.0,44.0,staff,...,Pseudotsuga,Douglas-fir,Pseudotsuga menziesii,CE,L,Yes,NaN,NaN,North America - from British Columbia south to...,Bracts on cones look like a mouse's feet and t...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25529,25530,726046,2018/08/16,QURU,31.6,Fair,74.0,50.0,46.0,volunteer,...,Quercus,northern red oak,Quercus rubra,BD,L,No,NaN,NaN,North America - eastern Canada and eastern USA...,Acorns take two years to mature and are an imp...
25530,25531,726443,2019/10/11,PSME,0.4,Good,8.0,6.0,6.0,staff,...,Pseudotsuga,Douglas-fir,Pseudotsuga menziesii,CE,L,Yes,NaN,NaN,North America - from British Columbia south to...,Bracts on cones look like a mouse's feet and t...
25531,25532,726444,2019/10/11,MEGL,26.3,Fair,79.0,30.0,40.0,staff,...,Metasequoia,dawn redwood,Metasequoia glyptostroboides,CD,L,No,NaN,NaN,Asia - central China,"A deciduous conifer, dawn redwood is Oregon's ..."
25532,25533,726445,2019/10/11,PCSI,8.8,Fair,43.0,20.0,20.0,staff,...,Picea,Sitka spruce,Picea sitchensis,CE,L,Yes,NaN,NaN,North America - Alaska south to British Columb...,"Green, 1"" long, typically flat needles are the..."
25533,25534,726446,2019/10/11,COKO,2.0,Good,18.0,13.0,13.0,staff,...,Cornus,kousa dogwood,Cornus kousa,BD,S,No,NaN,NaN,"Asia - Japan, Korea",A 20-30' tree with showy white flower bracts t...

In [34]:
# Here I performed a query to select trees with Quercus or Acer genuses.
df.query('Genus == "Quercus" or Genus == "Acer"')

,fid,OBJECTID,Inventory_,Species,DBH,Condition,TreeHeight,CrownWidth,CrownWid_1,CollectedB,...,Genus,Common_nam,Genus_spec,Functional,Size,Native,Edible,Nuisance,Origin,Species_fa
3,4,429,2017/05/09,QURU,10.3,Poor,28.0,38.0,31.0,staff,...,Quercus,northern red oak,Quercus rubra,BD,L,No,NaN,NaN,North America - eastern Canada and eastern USA...,Acorns take two years to mature and are an imp...
11,12,437,2017/05/09,QURU,14.9,Fair,48.0,33.0,27.0,staff,...,Quercus,northern red oak,Quercus rubra,BD,L,No,NaN,NaN,North America - eastern Canada and eastern USA...,Acorns take two years to mature and are an imp...
24,25,450,2017/05/15,ACGR,6.6,Fair,19.0,17.0,13.0,staff,...,Acer,paperbark maple,Acer griseum,BD,S,No,NaN,NaN,Asia - central China,Easily identified by its red-brown bark that p...
25,26,451,2017/05/15,ACGR,6.2,Fair,27.0,14.0,14.0,staff,...,Acer,paperbark maple,Acer griseum,BD,S,No,NaN,NaN,Asia - central China,Easily identified by its red-brown bark that p...
30,31,456,2017/05/15,ACPL,17.3,Fair,44.0,50.0,40.0,staff,...,Acer,Norway maple,Acer platanoides,BD,M,No,NaN,Yes,Europe - from Scandinavia and western Europe (...,Most common street tree in Portland. Pull a le...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25506,25507,724045,2019/10/11,ACMA,63.0,Poor,46.0,56.0,55.0,staff,...,Acer,bigleaf maple,Acer macrophyllum,BD,L,Yes,NaN,NaN,North America - Oregon and Washington west of ...,"Name comes from the large five-lobed leaves, m..."
25508,25509,724047,2019/10/11,ACMA,35.0,Fair,57.0,52.0,42.0,staff,...,Acer,bigleaf maple,Acer macrophyllum,BD,L,Yes,NaN,NaN,North America - Oregon and Washington west of ...,"Name comes from the large five-lobed leaves, m..."
25511,25512,724444,2019/10/11,ACMA,38.4,Fair,102.0,42.0,41.0,staff,...,Acer,bigleaf maple,Acer macrophyllum,BD,L,Yes,NaN,NaN,North America - Oregon and Washington west of ...,"Name comes from the large five-lobed leaves, m..."
25516,25517,724843,2019/10/11,ACMA,19.0,Fair,64.0,45.0,41.0,staff,...,Acer,bigleaf maple,Acer macrophyllum,BD,L,Yes,NaN,NaN,North America - Oregon and Washington west of ...,"Name comes from the large five-lobed leaves, m..."
25529,25530,726046,2018/08/16,QURU,31.6,Fair,74.0,50.0,46.0,volunteer,...,Quercus,northern red oak,Quercus rubra,BD,L,No,NaN,NaN,North America - eastern Canada and eastern USA...,Acorns take two years to mature and are an imp...

Q1 Answer: There are 3586 trees with the Genus Acer, and 2089 trees with the genus Quercus, or 5675 in total.

Q2: How many trees are of the Quercus or Acer genus and have a DBH larger than 50 inches?

In [72]:
#df.query('Genus == "Quercus" or Genus == "Acer"')
#df.query('DBH > 50')
tree_sample = df[(df["Genus"]=="Quercus") or (df["Genus"]=="Acer") & (df["DBH"]>50)]
print(tree_sample.head)

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

Q3: Which genus has the highest mean DBH of the following genera: Quercus, Acer, or Fraxinus?

In [77]:
#here I created three subsets of the data, one for each of the genera that I was interested in.
# Then, I used the .mean() function to find the mean for each one, so I could compare them to each other.
quercus = df.query('Genus == "Quercus"')
quercus["DBH"].mean()

23.56823839157492

In [78]:
acer = df.query('Genus == "Acer"')
acer["DBH"].mean()

18.419085331846066

In [79]:
fraxinus = df.query('Genus == "Fraxinus"')
fraxinus["DBH"].mean()

11.033609693877551

Q3 answer: Quercus has the highest mean DBH of the three genera.

Q4: How many different species of trees are recorded in the Acer genus?

In [81]:
# Using the subset I created from the previous question, I used the nunique() function 
# to see how many unique values there were in the Species column, showing how many different species there were
acer['Species'].nunique()

20

Q4 answer: there are 20 different species of trees in the Acer genus.

In [82]:
world = pd.read_csv('Assignment 2 Data/world_cities.csv')

Calculate a new column named "pop_M" (population in millions), by transforming the
"pop" (population) column.

In [84]:
world["pop_M"] = world["pop"]
world

                     city       country     pop    lat    lon  capital   pop_M
0      'Abasan al-Jadidah     Palestine    5629  31.31  34.34        0    5629
1      'Abasan al-Kabirah     Palestine   18999  31.32  34.35        0   18999
2            'Abdul Hakim      Pakistan   47788  30.55  72.11        0   47788
3      'Abdullah-as-Salam        Kuwait   21817  29.36  47.98        0   21817
4                   'Abud     Palestine    2456  32.03  35.07        0    2456
...                   ...           ...     ...    ...    ...      ...     ...
43640           az-Zubayr          Iraq  124611  30.39  47.71        0  124611
43641            az-Zulfi  Saudi Arabia   54070  26.30  44.80        0   54070
43642       az-Zuwaytinah         Libya   21984  30.95  20.12        0   21984
43643        s-Gravenhage   Netherlands  479525  52.07   4.30        0  479525
43644     s-Hertogenbosch   Netherlands  135529  51.68   5.30        0  135529

[43645 rows x 7 columns]

 Remove the original "pop" column.

In [85]:
world.drop(columns=['pop'])

                     city       country    lat    lon  capital   pop_M
0      'Abasan al-Jadidah     Palestine  31.31  34.34        0    5629
1      'Abasan al-Kabirah     Palestine  31.32  34.35        0   18999
2            'Abdul Hakim      Pakistan  30.55  72.11        0   47788
3      'Abdullah-as-Salam        Kuwait  29.36  47.98        0   21817
4                   'Abud     Palestine  32.03  35.07        0    2456
...                   ...           ...    ...    ...      ...     ...
43640           az-Zubayr          Iraq  30.39  47.71        0  124611
43641            az-Zulfi  Saudi Arabia  26.30  44.80        0   54070
43642       az-Zuwaytinah         Libya  30.95  20.12        0   21984
43643        s-Gravenhage   Netherlands  52.07   4.30        0  479525
43644     s-Hertogenbosch   Netherlands  51.68   5.30        0  135529

[43645 rows x 6 columns]

• Choose/subset a city that starts with the same letter as your first name (for example,
"Mexico City" if your first name is Michael).

In [ ]:
seoul = world.query


• Subset the five biggest (i.e., largest population sizes) cities from the country where your
selected city is.
• Print the result.